<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Success</title>
  </head>
  <body>
    <h1>Success</h1>
    <h2>Email :{{email}}</h2>
    <h2>pass : {{pass}}</h2>
  </body>
</html>
