<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
  </head>
  <body>
    <h1>Register</h1>
    <h2>Email :{{student.email}}</h2>
    <h2>pass : {{student.pass}}</h2>
  </body>
</html>
